<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/favourite">
        <mat-icon>star</mat-icon>
        <span>Favourite</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="toggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-container>

