<mat-card class="fact-card" *ngIf="fact$ | async as fact">
  <mat-card-title>
    {{ fact.text }}
  </mat-card-title>
  <mat-card-actions class="fact-button-container" align="end">
    <button
      class="fact-button"
      mat-raised-button
      color="primary"
      (click)="getToday()"
    >
      Get today's fact
    </button>
    <button
      class="fact-button"
      mat-raised-button
      color="primary"
      (click)="updateFact()"
    >
      Get random Fact
    </button>
    <ng-container *ngIf="factIds$ | async as favIds">
      <button
        mat-icon-button
        (click)="toggleFavourite(fact, favIds.includes(fact.id))"
      >
        <mat-icon>
          {{ favIds.includes(fact.id) ? "star" : "star_border" }}
        </mat-icon>
      </button>
    </ng-container>
  </mat-card-actions>
</mat-card>
